<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <div class="div-1">
        <div class="div-2">
    <form action="/update" method="post">
        <input type="text" name="id" value="<%=data.id%>" hidden >
        <input type="text" placeholder="name" name="name" value="<%=data.name%>" >
        <input type="text" placeholder="city" name="city" value="<%=data.city%>">
        <input type="text" placeholder="age" name="age" value="<%=data.age%>">
        <input type="text" placeholder="price" name="price" value="<%=data.price%>">
        <button type="submit" class="btn1">update</button>
    </form>
</div>
</div>
</body>
</html>